body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: white;
}

header{
    position: fixed;
    background-color: rgb(97, 166, 209);
    padding:10px;
    width:100%;
    height:61px;
    padding-top: 10px;
    z-index: 20;
}

.left_area{

color:black;
margin:0px;
font-size: 15px;
font-weight: 100px;

}
.sidebar{
    background-color: lavender;
    margin-top: -3px;
    padding-top: 15px;
    position: fixed;
    left:0;
    width:170px;
    height:100%;
    transition:0.5s;
    transition-property: left;

}

.sidebar a{
    color:black;
    display:block;
    width:100%;
    line-height:60px;
    text-decoration:none;
    padding-left: 25px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background-color;
}

.sidebar a:hover{
    background-color: dodgerblue;

}

.sidebar i {
    padding:10px;
}

img {
    position: absolute;
    top: 120px;
    right: 10px;
    width: 20%;
    
}

.budget{
    position: relative;
    left:200px;

}

h2{
    position: relative;
    left:200px;
}
.big{
    font-size: 20px;
}
h3{
    position: relative;
    left:200px;
}
.chase {
    position:absolute;
    top:270px;
    right:20px;
}
.america {
    position: absolute;
    top:820px;
    right: 20px;
}
.wells {
    position: absolute;
    top: 1200px;
    right:40px;
    width: 16%;
}
.citi {
    position: absolute;
    top: 1600px;
    right:5px;
}
.bancorp {
    position: absolute;
    top: 1900px;
    right:10px;
}
.manage {
    position: absolute;
    top: 450px;
    right:60px;
    width:15%;
}
.literacy {
    position: absolute;
    top:200px;
    right:40px;
    width:25%;
}
.savings {
    position: absolute;
    top:720px;
    right:20px;

}
.retire {
    position: absolute;
    top:970px;
    right:20px;

}
.mint {
    position: absolute;
    top: 1500px;
    right:40px;
}
.ynab {
    position: absolute;
    top: 1720px;
    right:10px;
    width:25%;
}
.paint {
    position: absolute;
    top:1200px;
    right:15px;
}